<a class="overflow-hidden inline-block ml-5 md:ml-0 w-[163px] h-[38px] md:w-[206px] md:h-12 indent-[100%] text-[0]" style="background-image: url('https://muki.tw/logo.svg');" href="https://muki.tw">
  <h1>MUKI space*</h1>
</a>
<nav>
  <ul class="space-y-2">
    <li>
      <a href="#introduction" class="block px-3 py-2 rounded-md hover:bg-blue-50 text-gray-600 hover:text-blue-600">
        介紹
      </a>
    </li>
    <li>
      <a href="#getting-started" class="block px-3 py-2 rounded-md hover:bg-blue-50 text-gray-600 hover:text-blue-600">
        開始使用
      </a>
    </li>
    <li>
      <a href="#installation" class="block px-3 py-2 rounded-md hover:bg-blue-50 text-gray-600 hover:text-blue-600">
        安裝指南
      </a>
    </li>
  </ul>
</nav>